<!DOCTYPE html>
<html>
      <div class="jumbotron jumbotron-fluid" style="background-color:#cae3ed">
        <div class="container">
          <p id="notice"><%= notice %></p>
          <h1 class="display-5 text-center" style="color:#37444a" ><%= @user.first_name %> <%= @user.last_name %> </h1><br>
          <p class="text-center">
        
        <strong>Email: </strong><%= @user.email %><br><br>

        <strong>Description: </strong><%= @user.description %><br><br>

        <a href=><button class='btn btn-outline-primary' ><%= link_to 'Edit', edit_user_registration_path %></button></a>
        <a href=><button class='btn btn-success' ><%= link_to 'Back', users_path %></button></a>
          </p>
          </div>
          <br/><br/><br/>
      </div>

<h3 class="display-5 text-center" style="color:#37444a ">Voici la liste des Events postés par <%= @user.first_name %></h3><br>
<% @user.events.each do |event| %>
<div class="list-group" style="margin-left: 15px; margin-right: 15px" >
   <a href="<%= event_path(event.id)%>" class="list-group-item list-group-item-action " style="background-color:#cae3ed">
        <div class="d-flex w-100 justify-content-between">

            <h5 class="mb-1"><%= event.title %></h5>
            <small>Event n°<%= event.id %></small>
        </div>
          <p class="mb-1"><%=event.description%></p>
          <small><%= event.attendances.count %> attendees</small>
    </a>   
</div>

  
<br/>
<% end %>




</html>
