<!DOCTYPE html>
<html>

<div class="jumbotron jumbotron-fluid" style="background-color:#cae3ed">
  <div class="container">

    <!-- Ajout de la fonctionnalité qui permet d'ajouter une alerte au user-->
  <% if flash[:alert] != nil %>
    <div class='alert alert-success mt-4'>
      <%= flash[:alert] %>
    </div>
    <% end %>

    <h1 class="display-5 text-center" style="color:#37444a" >BIENVENUE à toi!!!!</h1><br>
    <p class="text-center">Tu trouveras ci-dessous la liste de tous les Events que nous avons en base à ce jour<br><br>
    
   Tu as également la possiblité de créer un nouveau Event<br>
   <!-- Permet d'ajouter la nouvelle fonctionnalité liée à la création de nouvel evenement-->
      <br><br><a href=<%= new_event_path %>>
      <button class='btn btn-primary '>Create an Event</button>
    </a>
    </p>
  </div>
  </div>

</div>

<h1 class="display-5 text-center" style="color:#37444a">List of Events</h1><br>
<p id="notice"><%= notice %></p>
<% @events.each do |event| %>
  <div class="card-deck" style="margin-left: 15px; margin-right: 15px">
  <div class="card" style="width: 18rem; background-color:#cae3ed">
    <div class="card-body text-center">
      <h5 class="card-title">Titre: "<%= event.title %>"</h5>
      <h6 class="card-subtitle mb-2 text-muted">Durée: <%= event.duration %> min</h6>
      <h6 class="card-subtitle mb-2 text-muted">Prix: <%= event.price %> €</h6>
      <h6 class="card-subtitle mb-2 text-muted">Lieu: <%= event.location %> </h6>
      <a href=><button class='btn btn-outline-primary' ><%= link_to 'Show', event %></button></a>
    </div>
    </div>
  </div>
<br/>
<% end %>
</html>







<div class="table-responsive-sm">
<table  class="table table-hover table-dark text-center">
  <thead>
    <tr class="text-center bg-info">
      <th scope="col">Start date</th>
      <th scope="col">Duration</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th >Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.start_date %></td>
        <td><%= event.duration %> min</td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.price %> €</td>
        <td><%= event.location %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


