

<!DOCTYPE html>
<html>
<div class="jumbotron jumbotron-fluid" style="background-color:#cae3ed">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <h1 class="display-5 text-center" style="color:#37444a" > <strong>Event title: </strong><%= @event.title %></h1><br>
    <p class="text-center">
  
  <strong>Duration: </strong><%= @event.duration %> minutes<br><br>

  <strong>Price: </strong><%= @event.price %> €<br><br>

  <strong>Location: </strong><%= @event.location %><br><br>

  <strong>Créé par: </strong><%= "#{@event.admin.first_name} #{@event.admin.last_name}" %><br><br>

   <strong>Start date: </strong><%= @event.start_date %><br><br>

   <strong>Nombre de participants: </strong><%= @event.attendances.count %> participant(s)<br><br>

  <strong>Description: </strong><%= @event.description %><br><br><br>

 


  <a href=><button class='btn btn-outline-primary' ><%= link_to 'Edit', edit_event_path(@event) %></button></a>
  <a href=><button class='btn btn-success' ><%= link_to 'Back', events_path %></button></a>
    </p>
    </div>
    <br/><br/><br/>
</div>

  
</html>
